POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=citizen_portal
POSTGRES_USER=desc_admin
POSTGRES_PASSWORD=desc_secure_2026

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=desc_jwt_super_secret_key_2026
JWT_EXPIRES_IN=8h

AUTH_SERVICE_URL=http://auth-service:3001
CITIZEN_SERVICE_URL=http://citizen-service:3002
COMPLAINT_SERVICE_URL=http://complaint-service:3003
NOTIFICATION_SERVICE_URL=http://notification-service:3004
MONITORING_SERVICE_URL=http://monitoring-service:3005
